*{

    
    overflow: visible;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    font-family: monospace;
    font-weight: bolder;
    user-select: none;
}


body {

    
    background-color: #ffffff;
    

}

.box{

    width: 100%;
    height: 80%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    object-fit: cover;
    image-rendering: auto;
}

.box img{

    width: 100%;
    height: 120%;
    filter: drop-shadow(1px 1px 10px black);
    
}


.cajita{

    width: 100%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 0;
    padding: 0;
    margin: 0;
}

.final {
    display: grid;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 100%;
    left: 0;
    background-color: rgb(172, 46, 46);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 415px;
    object-fit: fill;
    image-rendering: auto;
    

}

.final img{

    width: 300px;
    height: 385px;
    
    
}

.texto{

    width: 600px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    text-wrap: wrap;

}

.texto h1{

    color: rgb(255, 255, 255);
    font-size: 45px;
    filter: drop-shadow(1px 1px 10px black);
    animation-name: texto;
    animation-iteration-count: 1;
    animation-duration: 5s;
    transition: all ease;
}

@keyframes texto {
    
    0% {

        color: #ffffff;
        transform: translateY(50px);
    }

    25%{

        color: rgba(255, 255, 255, 0.562);
        
    }

    50%{ color: #ffffff;
        
    }

    75%{color: rgba(255, 255, 255, 0.562);
        
    }

    100%{color: #ffffff;
        
    }


}

.texto span{

    animation-name: textospan;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transition: all ease;

}

@keyframes textospan{

    0%{color:  rgba(255, 255, 255, 0.562);}
    25%{color: crimson;}
    50%{color:  white;}
    75%{color: crimson;}
    100%{color: rgba(255, 255, 255, 0.562);}

}